body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #F4F0DB !important;
}

label {
    margin: 5px !important;
}

.testtest {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 15px;;
}


.react-table input{
    margin: 0 !important;
}

/* .formContainer {
   display: flex !important;
}

.formContainer {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.inputField {
    width: 15rem;
    padding: 5px;
} */

.slide-pic {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.caro {
  width:100%;
  
}
